*{
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    height: 50px;
    padding: 20px;
    position: relative;
    z-index: 100;
    color: #000;
}

.carrousel{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    margin-top: -50px;
    position: relative;
}

.carrousel .list .item{
    position: absolute;
    inset: 0 0 0 0;
}

.carrousel .list .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carrousel .list .item .content{
    position: absolute;
    top: 20%;
    width: 1140px;
    max-width: 80%;
    left: 50%;
    transform: translateX(-50%);
    padding-right: 30%;
    box-sizing: border-box;
    color: #eee;
    text-shadow: 0 5px 10px #0004;
}

.carrousel .list .item .author{
    font-weight: bold;
    letter-spacing: 5px;
    color: #f1683a;
}

.carrousel .list .item .content .title,
.carrousel .list .item .content .topc{
    font-weight: bold;
    font-size: 4em;
    list-style: 1.3em;
}

.carrousel .list .item .content .topc{
    color: #f1683a;
}

.carrousel .list .item .content .buttons{
    display: grid;
    grid-template-columns: repeat(2, 130px);
    grid-template-rows: 40px;
    gap: 5px;
    margin-top: 20px;
    text-decoration: none;
}

.carrousel .list .item .content button{
    border: none;
    background-color: #eee;
    letter-spacing: 3px;
    font-weight: 500;
    cursor: pointer;
}

.carrousel .list .item .content button:nth-child(2){
    background-color: transparent;
    color: #eee;
    border: 1px solid #eee;
}

.thumbnail{
    position: absolute;
    bottom: 50px;
    left: 50%;
    width: max-content;
    z-index: 100;
    display: flex;
    gap: 20px;
    color: #eee;
}

.thumbnail .item{
    width: 150px;
    height: 220px;
    flex-shrink: 0;
    position: relative;
}

.thumbnail .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.thumbnail .item .content{
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;
}

.thumbnail .item .content .title{
    font-weight: bold;
}

.thumbnail .item .content .des{
    color: #f1683a;
    font-size: 12px;
    font-weight: bold;
}

.arroows{
    position: absolute;
    top: 80%;
    right: 52%;
    width: 300px;
    max-width: 30%;
    display: flex;
    gap: 10px;
    align-items: center;
}

.arroows button{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #eee4;
    border: none;
    font-family: monospace;
    color: #fff;
    font-weight: bold;
    font-size: large;
    transition: .5s;
    z-index: 100;
}

.arroows button:hover{
    background-color: #eee;
    color: #555;
}

.carrousel .list .item:nth-child(1){
    z-index: 1;
}

.carrousel .list .item:nth-child(1) .author,
.carrousel .list .item:nth-child(1) .title,
.carrousel .list .item:nth-child(1) .topc,
.carrousel .list .item:nth-child(1) .des,
.carrousel .list .item:nth-child(1) .buttons{
    transform: translateY(50px);
    filter: blur(20px);
    animation: showContent 0.5s 1s linear 1 forwards;
}

@keyframes showContent{
    to{
        opacity: 1;
        filter: blur(0);
        transform: translateY(0);
    }
}

.carrousel .list .item:nth-child(1) .title{
    animation-delay: 1.2s;
}

.carrousel .list .item:nth-child(1) .topc{
    animation-delay: 1.4s;
}

.carrousel .list .item:nth-child(1) .des{
    animation-delay: 1.6s;
}

.carrousel .list .item:nth-child(1) .buttons{
    animation-delay: 1.8s;
}

.carrousel.next .list.item:nth-child(1) img{
    width: 150px;
    height: 220px;
    position: absolute;
    left: 50%;
    bottom: 50px;
    border-radius: 20px;
    animation: showImage 0.5s linear 1 forwards;
}

@keyframes showImage{
    to{
        width: 100%;
        height: 100%;
        left: 0;
        bottom: 0;
        border-radius: 0;
    }
}

.carrousel.next .thumbnail .item:nth-last-child(1){
    width: 0;
    overflow: hidden;
    animation: showThumbnail .5s linear 1 forwards;
}

@keyframes showThumbnail{
    to{
        width: 150px;
    }
}

.carrousel.next .thumbnail{
    transform: translateX(150px);
    animation: transformThumbnail .5s linear 1 forwards;
}

@keyframes transformThumbnail{
    to{
        transform: translateX(0);
    }
}

.carrousel.prev .list .item:nth-child(2){
    z-index: 2;
}

.carrousel.prev .list .item:nth-child(2) img{
    position: absolute;
    bottom: 0;
    left: 0;
    animation: outImage 0.5s linear 1 forwards;
}

@keyframes outImage{
    to{
        width: 150px;
        height: 220px;
        border-radius: 20px;
        left: 50%;
        bottom: 50px;
    }
}

.carrousel.prev .thumbnail .item:nth-child(1){
    width: 0;
    overflow: hidden;
    opacity: 0;
    animation: showThumbnail 0.5s linear 1 forwards;
}

.carrousel.prev .list .item:nth-child(2) .author,
.carrousel.prev .list .item:nth-child(2) .title,
.carrousel.prev .list .item:nth-child(2) .topc,
.carrousel.prev .list .item:nth-child(2) .des,
.carrousel.prev .list .item:nth-child(2) .buttons{
    animation: contentout 1.5s linear 1 forwards;
}

@keyframes contentout{
    to{
        transform: translateY(-150px);
        filter: blur(20px);
        opacity: 0;
    }
}

.carrousel.next .arroows button,
.carrousel.prev .arroows button{
    pointer-events: none;
}

.time{
    width: 0%;
    height: 5px;
    background-color: #f1683a;
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
}

.carrousel.next .time,
.carrousel.prev .time{
    width: 100%;
    animation: timeRunning 2s linear forwards;
}

@keyframes timeRunning{
    to{
        width: 0;
    }
}

@media screen and (max-width: 678px) {
    .carrousel .list .item .content{
        padding-right: 0;
    }

    .carrousel .list .item .content .title{
        font-size: 30px;
    }

    .carrousel .list .item .content .topc{
        font-size: 40px;
    }
}
