* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Merriweather", serif;
    font-weight: 300;
    font-style: normal;

}

.merriweather-light-italic {
    font-family: "Merriweather", serif;
    font-weight: 300;
    font-style: italic;
}

.merriweather-regular {
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: normal;
}

.merriweather-regular-italic {
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: italic;
}

.merriweather-bold {
    font-family: "Merriweather", serif;
    font-weight: 700;
    font-style: normal;
}

.merriweather-bold-italic {
    font-family: "Merriweather", serif;
    font-weight: 700;
    font-style: italic;
}

.merriweather-black {
    font-family: "Merriweather", serif;
    font-weight: 900;
    font-style: normal;
}

.merriweather-black-italic {
    font-family: "Merriweather", serif;
    font-weight: 900;
    font-style: italic;
}



body {
    background-color: #000000;
}

a{
    cursor: pointer;
}


.hiden {
    opacity: 0;
    filter: blur(15px);
    transition: all 1s;
    transform: translateX(-100%);
}

.show {
    opacity: 1;
    filter: blur(0);
    transition: all 1s;
    transform: translateX(0);
}


header {
    background: black;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px 0;
}

#logo_title {
    width: 131px;
    margin-left: 250px;
}

#div_header {
    display: flex;
    gap: 20px;
    padding-right: 100px;
    margin-right: 5rem;
}

.link_header {
    text-decoration: none;
    color: white;
    font-size: 25px;
}


.section_info {
    z-index: -1;

    background-image: url("./assets/monitor.avif");
    background-size: cover;

}

#linear {
    display: flex;
    justify-content: end;
    padding: 39px;

    background: linear-gradient(0deg,
            rgba(0, 0, 0, 0.3164609593837535) 25%,
            rgba(1, 2, 4, 0.9691220238095238) 75%);

    height: 78vh;
}

#ul_link {
    background: #7c7c7c87;
    width: 260px;
    height: 383px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 22px;
    padding: 32px 37px;
    border-radius: 18px;
    z-index: 3;

    position: fixed;
    top: 15rem;
    left: 8rem;
}

.link_section {
    color: black;
    font-size: 38px;
}

#div_hiden_section_info {
    width: 50%;
}

.h1-intro {
    height: 600px;
    margin: 5% 14% 0 0;

    color: white;
}

h1 {
    font-size: 60px;
}

h2 {
    margin: 10px 0 30px;
    font-size: 30px;
    color: aqua;
    font-weight: 900;
}

p {
    font-size: 23px;
    line-height: 30px;
    font-weight: 300;
}

#paragrafo_skil {
    font-size: 23px;
    line-height: 30px;
    margin-top: 25px;
}

.section_dados {
    background-color: #000000;
    display: flex;
    justify-content: center;
    gap: 8%;
    border-top: solid #ffffff;
    padding-left: 17rem;

    height: 70vh;
}

#section_cell_desck {
    height: 58vh;
    padding: 0;
    gap: 0;
}

.img_desktop {
    position: absolute;
    z-index: 10;
}


.slider {
    display: block;
    height: 293px;
    width: 600px;
    margin: auto;
    margin-top: 16%;
    position: relative;
}

.slider-li {
    list-style: none;
    position: absolute;
}

.slider-img {
    margin: auto;
    height: 293px;
    width: 600px;
    border-radius: 29px;
    vertical-align: top;

    opacity: 0;
    visibility: hidden;
}

.slider-input {
    display: none;

   
}

.slider-label {
    background-color:#ffffff;
    bottom: -37px;
    cursor: pointer;
    display: block;
    height: 10px;
    position: absolute;
    width: 30px;
    z-index: 10;

    border-radius: 7px;
}

.slider li:nth-child(1) label {
    right: 25%;
}

.slider li:nth-child(2) label {
    right: 50%;
}

.slider li:nth-child(3) label {
    right: 75%;
}


.slider-li input:checked ~ img {
    opacity: 1;
    visibility: visible;
    z-index: 10;
}



.img_wel_div {
    width: 63%;
    display: flex;
    align-items: center;
}

#img_well {
    width: 350px;
    border-radius: 200px;
    border: solid 2px aqua;
}

#sobre_descrition {
    padding-left: 30px;
}

#sobre {
    font-size: 43px;
    line-height: 30px;
    color: aqua;
}

span {
    color: aqua;
    font-weight: 900;
}

.decrition {
    font-size: 23px;
    line-height: 30px;
    color: #ffffff;
    margin: 30px 0;
    letter-spacing: 1.5px;
}



#section_projetos {
    background-color: #000000;
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    padding-top: 30px;
    border-top: solid #ffffff;
    height: 70vh;

}

h3 {
    color: white;
    font-size: 30px;
}

#div_projetos {
    display: flex;
    justify-content: center;
    margin-top: 4rem;
    gap: 40px;
}

#div_projetos :nth-child(2) {
    transition-delay: 500ms;
}

#div_projetos :nth-child(3) {
    transition-delay: 1000ms;
}



.div_espande {
    width: 250px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.projetos {
    width: 200px;
    height: 300px;
    border-top: solid 1px aqua;
    border-left: solid 1px aqua;
    border-radius: 22px;
    background-color: #7c7c7c;
    padding-top: 11px;
    text-align: center;
    cursor: help;

    box-shadow: 6px 6px 15px aqua;
}

.trasition_opacity{
    transform: translateY(100px);
    opacity: 0;
    transition: 0.5s;
    height: 100%;
}

.trasition_opacity:hover {
    transform: translateY(0);
    opacity: 1;
}

.paraNemeProjet {
    font-weight: 900;
    font-size: 25px;
    line-height: normal;
    background: -webkit-linear-gradient(#f0f08486, #5ab1f3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.paraDescritionProjet {
    font-size: 14px;
    margin: 0 auto;
    line-height: normal;
}



.formulario_name {
    background-color: rgb(250 247 247 / 29%);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 5px;
    position: fixed;
    top: 30%;
    right: -294px;
    gap: 20px;

    transition: all 1.5s;
}


.input_form {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid gray;
    padding-left: 5px;
    outline-color: #18d80f;
}

#text_area {
    width: 100%;
    height: 100px;
    border-radius: 5px;
    border: 1px solid gray;
    padding-left: 5px;
    padding-top: 5px;
    outline-color: #18d80f;
}


.button_form {
    color: white;
    background-color: #c51111;
    border-radius: 3px;
    border: none;
    width: 200px;
    height: 50px;
    cursor: alias;
    text-transform: uppercase;
    font-weight: bold;
}




footer {
    background-color: #181717;
    display: flex;
    justify-content: center;
    border-top: solid #ffffff;

    height: 10vh;
}

#PFooter {
    color: white;
    margin-top: 10px;
}



@media screen and (max-width: 1300px) {
    
    #ul_link{
        display: none;
    }

    .section_dados{
        padding: 0;
    }

    #linear{
        justify-content: space-around;
    }
}


@media screen and (max-width: 1100px){

    #ul_link{
        display: none;
    }

    #logo_title {
        margin: 0;
    }

    .section_dados{
        padding: 0;
    }

    .decrition{
        font-size: 20px;
        letter-spacing: 0.5;
    }

    .img_wel_div{
        width: 90%;
    }

    #linear{
        justify-content: space-around;
    }

    header{
        padding: 0;
    }
}






@media screen and (max-width: 790px){
    
    header{
        margin: 10px 5px 20px;
    }

    #logo_title{
        display: none;
    }

    .link_header{
        font-size: 12px;
    }

    #div_header{
        padding: 0;
        margin: 0;
        width: 100%;
        justify-content: space-evenly;
    }

    #div_hiden_section_info{
        width: 100%;
        padding-top: 40px;
    }

    #linear{
        padding: 0;
        height: auto;
    }

    .h1-intro{
        margin: 0;
        text-align: center;
    }

    p {
        font-size: 16px;
    }


    .img_wel_div{
        display: block;
        margin: 20px 0;
    }

    #img_well{
        display: block;
        margin: 0 auto;
    }

    .section_dados{
        height: auto;
    }

    #sobre_descrition{
        padding: 20px 0;
        width: 100%;
        text-align: center;
    }

    #section_cell_desck{
        display: none;
    }

    #section_projetos{
        height: auto;
        padding-bottom: 20px;
    }

   #div_projetos{
        flex-direction: column;
        align-items: center;
   }

    footer{
        text-align: center;
    }
}